.postCard {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  max-width: 500px;
  width: 500px;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #eee;
  color: hsl(217, 19%, 35%);

  .h3 {
    font-size: 22px;
    font-weight: 700;
    margin: auto;
  }
  .p {
    color: hsl(214, 17%, 51%);
  }
}

